[user]
	email = asd@asd.com
	name = asd
[color]
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow bold
	remote = white bold
[color "diff"]
	meta = white bold blue bold
	frag = yellow bold
	old = red bold
	new = green bold
	oldMoved = 7 57
	newMoved = white bold blue bold
[color "status"]
	added = green bold
	changed = red bold
	untracked = magenta bold
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[core]
	editor = micro
	pager = delta
[cola]
	spellcheck = false
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	light = false
	syntax-theme = none
	plus-style = 70 auto
	minus-style = 130 auto
	zero-style = white auto
	line-buffer-size = 0
	file-style = 105 18
	file-decoration-style =18 ul
	hunk-header-style = 15 57 line-number
	hunk-header-file-style = 0
	hunk-header-decoration-style = 57 ul
	hunk-header-line-number-style = 7
	whitespace-error-style = 57 105
	commit-style = 70 22
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = no
