/*html|html,
xul|page,
xul|window {
	font: message-box;
	-moz-appearance: none;
	background-color: #141414 !important;
	color: #CCC !important;
}*/

:root,
menupopup,
menubar
	{ font: 16px Swis721 Cn BT !important; }

.tab-label-container, #tabbrowser-tabs:not([secondarytext-unsupported]) .tab-label-container { height: 1.2em !important; }
.tab-label { line-height: 1.2em !important; }

:root > iframe.devtools-highlighter-renderer { opacity: 0.5 !important; }

html#main-window { --lwt-text-color: #888 !important; }

#main-menubar > menu { color: #888 !important; }

/*#browser-bottombox { height: 36px; background: #000 !important; }*/
/*
.browserContainer>statuspanel { left: 4px !important; bottom: 8px; transition-duration: 0s !important; transition-delay: 0s !important; }
.browserContainer>statuspanel>.statuspanel-inner>.statuspanel-label { margin-left: 0px !important; border: none !important; padding: 0px !important; background: transparent !important; color: #CCC !important; font: 12px Verdana !important; }
*/

/*
#statuspanel, #statuspanel[hidden="true"], #statuspanel:not([hidden]) { display: block !important; background: #111 !important; position: fixed !important; bottom: 0 !important; width: 100% !important; height: 35px !important; padding: 0 10px !important; }
#statuspanel-label { background: transparent !important; color: #AAA !important; }
#statuspanel[inactive], #statuspanel[inactive="true"] { opacity: 1 !important; visibility: visible !important; }
*/

/*
window[inFullscreen="true"] #browser-bottombox { display:none !important; }
window[inFullscreen="true"] .browserContainer>statuspanel[type="overLink"] .statuspanel-label { display:none !important; }
*/

@-moz-document url-prefix(about:blank), url-prefix(about:newtab), url-prefix(about:downloads)
{
	html, body, #newtab-customize-overlay
	{
		background: #181818 !important;
		color: #666 !important;
	}
}

@-moz-document url(chrome://browser/content/browser.xul)
{
	/* v1.01 - uBlock compatibility */
	/* tab document render area BG */
	browser[type="content-primary"], tabbrowser tabpanels, #appcontent > #content
	{
		background: #1B1B1B url("chrome://global/skin/media/imagedoc-darknoise.png") repeat fixed !important;
	}
}

@-moz-document url(about:blank), url(about:newtab)
{
	#newtab-window, html
	{
		background: #1B1B1B url("chrome://global/skin/media/imagedoc-darknoise.png") repeat fixed;
	}
}

#navigator-toolbox .tabbrowser-tab { border: 0 !important; }
#tabs-newtab-button { display: none !important; }
.tabbrowser-tab { -moz-box-align: stretch!important; color: #555 !important; padding: 0 10px !important; }
.tabbrowser-tab[remote] { text-decoration: underline!important; }
.tabbrowser-tab[selected=true] { position: relative!important; z-index: 2!important; background: #141414!important; }
.tab-icon-image { display: none !important; }
.tabbrowser-tab[selected=true] .tab-label { color: #777 !important; border: 0 !important; }
.tab-background-middle, .tab-background-start, .tab-background-end { background-clip: padding-box, padding-box, content-box!important; background-image: none!important; background-color: transparent !important; }
#TabsToolbar #firefox-view-button[open] > .toolbarbutton-icon, .tab-background:is([selected], [multiselected]) { background: #141414 !important; }
#TabsToolbar #firefox-view-button[open] > .toolbarbutton-icon, #tabbrowser-tabs:not([noshadowfortests]) .tab-background:is([selected], [multiselected]) { box-shadow: none !important; }
/*Disable tab gradient*/
.tab-label-container[textoverflow][labeldirection="ltr"]:not([pinned]), .tab-label-container[textoverflow]:not([labeldirection], [pinned]):-moz-locale-dir(ltr) { mask-image: none !important; }
#nav-bar toolbarbutton { opacity: 0.5 !important; }

/*



*/

#urlbar, #searchbar{ font: 18px "Swis721 Cn BT" !important; }
#urlbar:not([focused="true"]):-moz-lwtheme, #navigator-toolbox .searchbar-textbox:not([focused="true"]):-moz-lwtheme { border-color: transparent !important; }
#urlbar:hover, .searchbar-textbox:hover { border-color: transparent !important; }
#urlbar:-moz-lwtheme[focused="true"], #navigator-toolbox .searchbar-textbox:-moz-lwtheme[focused="true"] { border-color: transparent !important; background: #222 !important; color: #808080 !important; }
urlbar:is([focused="true"], [open]), #searchbar:focus-within { color: #808080 !important; }
urlbar:is([focused="true"]) { color: #808080 !important; }
#urlbar:not([focused="true"]) { color: #555 !important; }
#urlbar:-moz-lwtheme, #navigator-toolbox .searchbar-textbox:-moz-lwtheme { background-color: transparent !important; color: #555 !important; }
.browser-toolbar:not(.titlebar-color) { background-color: #222 !important; background-image: none !important; }
#tabbrowser-tabs:not([movingtab]) > .tabbrowser-tab > .tab-stack > .tab-background[selected="true"]:-moz-lwtheme { background-image: none !important; background-color: #222 !important; }
#tabbrowser-tabs:-moz-lwtheme { --tab-line-color: transparent !important; }
#tabbrowser-tabs .tabbrowser-tab .tab-close-button { display:none!important; }

#searchbar { border: 0 !important; background: transparent !important; }
#tabbrowser-tabs:not([movingtab]) > .tabbrowser-arrowscrollbox > .tabbrowser-tab > .tab-stack > .tab-background[multiselected="true"]:-moz-lwtheme, #tabbrowser-tabs:not([movingtab]) > .tabbrowser-arrowscrollbox > .tabbrowser-tab > .tab-stack > .tab-background[selected="true"]:-moz-lwtheme { background: #181818 !important; }

#tabbrowser-tabs, #tabbrowser-tabs * { --tab-loading-fill: #00CC00 !important; animation-delay: 0ms !important; animation-duration: 0ms !important; transition: none !important; }

#urlbar-container { background: #141414 !important; }
#urlbar-background { display: none !important; }

#navigator-toolbox { background: #000 !important; color: #777 !important; }
.tab-background { border-radius: 0 !important; margin-block: 0 !important; background-image: none !important; }
.tabbrowser-tab { padding-inline: 0 !important; }
.tab-close-button { display: none !important; }
.urlbar-container { padding: 0 !important; padding-block: 0 !important; }
#urlbar-container, #search-container { padding-block: 0 !important; margin-inline: 0 !important; }

.urlbar-icon,
.toolbarbutton-badge,
.toolbarbutton-icon { filter: saturate(0) brightness(0.7) !important; }
.private-browsing-indicator { filter: saturate(0) brightness(0.7) !important; }

.urlbarView { background: #111; }

:root:not([lwtheme-image]) .browserContainer > findbar:-moz-lwtheme { background-color: #111 !important; border-color: #111 !important; background-image: none !important; color: #808080 !important; }

input[type="checkbox"].toggle-button:checked { background: #357 !important; border-color: #357 !important; }

input[type="checkbox"].toggle-button::before { background: #ACE !important; }

.tab-background { outline: 0 !important; }

#downloads-button > .toolbarbutton-badge-stack > #downloads-indicator-progress-outer { width: 32px !important; align-items: flex-start !important; justify-content: flex-start !important; border: 2px solid #000 !important; background: #000 !important; border-radius: 0 !important; height: 10px !important; top: calc(50% - 5px) !important;}
#downloads-indicator-progress-inner { width: calc(var(--download-progress-pcent)) !important; height: 100% !important; background: #AAA !important; border-radius: 0 !important; }

@media (prefers-contrast)
{
	.tab-background:is([selected], [multiselected]), .tabbrowser-tab:hover > .tab-stack > .tab-background {  border: 0 !important; }
}
