/*html|html,
xul|page,
xul|window {
  font: message-box;
  -moz-appearance: none;
  background-color: #141414 !important;
  color: #CCC !important;
}*/

@-moz-document url-prefix(about:blank), url-prefix(about:newtab)
{
	html, body, #newtab-customize-overlay { background: #181818 !important; }
	 #newtab-grid { display: none !important; }
	 #root, #snippets-container { display: none !important; }
}

@-moz-document url-prefix(https:), url-prefix(http:), url-prefix(file:)
{

	* { animation: none !important; transition: none !important; text-shadow: none !important; }

	html textarea[class] { font-size: 24px !important; font-family: "Swis721 Cn BT" !important; }
	html textarea[class]:focus { background: #121212 !important; }

	html div { box-shadow: none !important; }

	html { background: #181818 !important; font-size: 20px !important; }
	html body, html body[class], html body[id], html body[id][class] { background: #282828 !important; color: #909090 !important; font-family: "Swis721 Cn BT" !important; font-size: 20px !important; }

	body.pad100 { padding: 100px 200px !important; }
	body.pad100 table { width: 100% !important; }
	body.pad100 td, body.pad100 th { padding: 3px 10px !important; vertical-align: top !important; }
	body.pad100 ul { list-style: none !important; }
	body.pad100 ul li { border-left: 5px solid #0C0C0C !important; padding: 5px 0 5px 10px !important; margin: 0 0 2px 0 !important; line-height: 150% !important; }
	body.pad100 ol li { padding: 5px 0 5px 10px !important; margin: 0 0 2px 0 !important; line-height: 150% !important; }
	body.pad100 img { max-width: 100% !important; display: block !important; }
	body.xdark { background: #111 !important; }
	body.xblack { background: #000 !important; }
	body.xwrap { width: 1200px !important; margin: 0 auto !important; padding: 100px 200px !important; }

	html h1, html h2, html h3, html h4, html h5, html h6, html h1[class], html h2[class], html h3[class], html h4[class], html h5[class], html h6[class] { color: #AAA !important; padding: 10px 20px !important; line-height: 160% !important; margin: 2px 0 !important; background: #181818 !important; border: 0 !important; }
	html h1, html h1[class], div[class] h1 { font: 2.2rem "Swis721 Cn BT", Calibri, sans-serif !important; }
	html h2, html h2[class], div[class] h2 { font: 1.8rem "Swis721 Cn BT", Calibri, sans-serif !important; }
	html h3, html h3[class], div[class] h3 { font: 1.6rem "Swis721 Cn BT", Calibri, sans-serif !important; }
	html h4, html h4[class], div[class] h4 { font: 1.4rem "Swis721 Cn BT", Calibri, sans-serif !important; }
	html h5, html h5[class], div[class] h5 { font: 1.2rem "Swis721 Cn BT", Calibri, sans-serif !important; }
	html h6, html h6[class], div[class] h6 { font: 1rem "Swis721 Cn BT", Calibri, sans-serif !important; }

	main, article, aside, blockquote, caption, center, col, colgroup, dd, div, div[class], dl, dt, figcaption, figure, footer, head, header, hgroup, img, li, menu, noscript, ol, p, section, summary, ul, video { font: inherit !important; background: inherit !important; color: inherit !important; border: none !important; font: 22px "Swis721 Cn BT" !important; }
	span { font: inherit !important; }
	font, input, input[class], button {font: 22px "Swis721 Cn BT" !important; }
	abbr, acronym, address, applet, area, audio, b, base, bdo, big, cite, tt, code, command, datalist, del, details, dfn, dir, em, fieldset, font, form, hr, i, input, ins, kbd, label, legend, link, mark, meter, nav, optgroup, option, output, param, progress, q, rp, rt, ruby, s, samp, select, small, source, span, body span[class], strike, strong, sub, sup, textarea, time, title, u, var, wbr, xmp { background: inherit !important; color: inherit !important; }

	hr { height: 2px !important; background: #888 !important; border-style: solid !important; border-color: #888 !important; border-width: 0 !important; margin: 20px 0 !important; }
	legend { background: #181818 !important; }
	container { border: 2px solid #F00 !important; margin: 10px !important; display: block !important; padding: 10px !important; }
	figure { border: 0 !important; background: #181818 !important; padding: 20px !important; }
	figcaption { background: #181818 !important; color: #888 !important; padding: 20px !important; }
	ruby { margin: 10px 0 !important; background: #000 !important; color: #AAA !important; padding: 20px 40px !important; display: block !important; }
	rp { margin: 10px 0 !important; background: #181818 !important; color: #888 !important; padding: 40px !important; display: block !important; font: 24px "Swis721 Cn BT", Calibri, sans-serif !important; border-top: 50px solid #000 !important; border-bottom: 50px solid #000 !important; }
	rt { margin: 10px 0 !important; padding: 20px !important; display: block !important; background: #181818 !important; font: 12px Verdana !important; }
	rt:before { content: "" !important; display: block !important; width: 10px !important; height: 15px !important; border: 2px solid #AAA !important; float: left !important; margin: -3px 20px 0 0 !important; }

	button, select, textarea, html input, html input[class] { border: 0 !important; padding: 5px 10px !important; background: #242424 !important; box-shadow: inset 0 0 5px #000 !important; color: #999 !important; line-height: 150% !important; -moz-appearance: none !important; border-radius: 0 !important; }
	html input[type="checkbox"] { width: 24px !important; height: 24px !important; background: #242424 !important; }
	button, html input[type="submit"], html input[type="button"] { box-shadow: none !important; background: #111 !important; }
	button:hover, button:focus, html input[type="submit"]:hover, input[type="submit"]:focus, html input[type="button"]:hover, html input[type="button"]:focus { background: #000 !important; color: #FFF !important; }
	input div { color: #999 !important; }
	select:focus, textarea:focus, input:focus { color: #999 !important; outline: 0 !important; background: #0C0C0C !important; }
	textarea:focus *, input:focus * { color: #999 !important; }

	html a, html a:link, html a[class], html a[id], a * { color: #57F !important; text-decoration: none !important; text-shadow: none !important; font: inherit !important; border: 0 !important; background: transparent !important; }
	html a[href*="https:"], html a[href*="https:"] * { color: #09F !important; }
	html a:visited, html a:visited * { color: #357 !important; text-decoration: none !important; }
	html a:hover, html a:focus, html a:hover *, html a:focus * { color: #FFF !important; text-decoration: none !important; outline: 0 !important; }
	html a:active { color: #FFF !important; outline: none !important; }
	html .pagination a:link { font: bold 30px "Swis721 Cn BT" !important; border: 0 !important; background: #111 !important; padding: 10px !important; }

	p { margin: 0 !important; padding: 5px 0 !important; }
	blockquote, p { line-height: 135% !important; margin: 0 !important; }
	blockquote { padding: 20px 40px !important; border-left: 10px solid #111 !important;  }
	blockquote blockquote { padding: 0 0 0 40px !important; }

	table { background: #202020 !important; color: inherit !important; border: 0 !important; border-collapse: collapse !important; font-family: inherit !important; font-size: inherit !important; text-decoration: none !important; }
	tbody, td, tfoot, th, thead, tr, tbody[class], td[class], tfoot[class], th[class], thead[class], tr[class] { color: inherit !important; background-image: none !important; border: 0 !important; font-family: inherit !important; font-size: inherit !important; text-decoration: none !important; }
	tr:nth-child(odd) td , tr:nth-child(odd) th { background-color: #181818 !important; }
	tr:nth-child(even) td , tr:nth-child(even) th { background-color: #202020 !important; }

	dl { border-left: 20px solid #111 !important; }
	dt { padding: 0.5em 10px !important; line-height: 160% !important; margin: 2px 0 !important; background: #111 !important; border: 0 !important; border-left: 20px solid #0C0C0C !important; color: #AAA !important; }
	dd { padding: 0.25em 10px !important; line-height: 160% !important; margin: 2px 0 !important; background: #181818 !important; border: 0 !important; border-left: 20px solid #0C0C0C !important; }

	cite, u, em, i, b, strong { font-weight: normal !important; font-style: normal !important; text-decoration: none !important; color: #CCC !important; }
	a u, a em, a i, a b, a strong, a div, a span { color: inherit !important; }
	small { font-size: 80% !important; }

	tt, code { background: #0C0C0C !important; font-family: Verdcode, Consolas, sans-serif !important; padding: 1px 2px !important; }
	pre { background: #0C0C0C !important; border-style: solid !important; border-width: 0 0 0 10px !important; border-color: #444 !important; padding: 10px 20px !important; font-family: Verdcode !important; font-size: 18px !important; }
	pre, code { color: #999 !important; }
	pre p { margin: 0 !important; padding: 0 !important; font-family: Verdcode, Consolas, sans-serif !important; }

	pre em { color: #57F !important; }
	pre i { color: #FFF !important; }
	pre b { color: #F90 !important; }
	pre u { color: #0F0 !important; text-decoration: none !important; }
	pre dfn { font-style: normal !important; color: #F90 !important; background: #331500 !important; }
	pre s { color: #F00 !important; text-decoration: none !important; background: #400 !important; }

	pre q1 { color: #57F !important; background: #024 !important; }
	pre q2 { color: #C7F !important; background: #214 !important; }
	pre c1 { font-style: normal !important; color: #7ac !important; background: #234 !important; }
	pre c2 { color: #F00 !important; background: #400 !important; }
	pre b1 { color: #AF0 !important; }
	pre b2 { color: #FFF !important; }
	pre b3 { color: #F90 !important; }
	pre xk { color: #29F !important; }
	pre xh { color: #57F !important; }

	samp, mark, hl, kbd { background: #420 !important; color: #F90 !important; padding: 2px 0 !important; line-height: inherit !important; }
	samp a:link, mark a:link, a:link samp, a:link mark { background: #210 !important; color: #F90 !important; }
	samp a:visited, mark a:visited, a:visited samp, a:visited mark { color: #C60 !important; }
	mark a:hover, a:hover mark, samp a:hover, a:hover samp { background-color: #630 !important; color: #FFF !important; }
	samp, mark mark { font: 32px "Swis721 Cn BT", Calibri, sans-serif !important; }
	a:hover mark, a:focus mark { background: #210 !important; color: #FFF !important; }
	hl2 { background: #040 !important; color: #0F0 !important; padding: 2px 0 !important; line-height: inherit !important; }
	/* i mark, em mark, b mark, strong mark { color: #FFF !important; } */

	z1 { background: #040 !important; color: #0F0 !important; padding: 2px 0 !important; line-height: inherit !important; }
	z2 { background: #400 !important; color: #F00 !important; padding: 2px 0 !important; line-height: inherit !important; }
	z3 { background: #036 !important; color: #09F !important; padding: 2px 0 !important; line-height: inherit !important; }
	z4 { background: #404 !important; color: #F0F !important; padding: 2px 0 !important; line-height: inherit !important; }
	z5 { background: #440 !important; color: #FF0 !important; padding: 2px 0 !important; line-height: inherit !important; }

	slideshow::after { content: ""; clear: both; display: block; }

	body.xDontShowLinks a, body.xDontShowLinks a *, body.xDontShowLinks a:link { color: inherit !important; text-decoration: none !important; }
	body.xDontShowLinks a:visited *, body.xDontShowLinks a:visited { color: inherit !important; text-decoration: none !important; }
	body.xDontShowLinks a:hover *, body.xDontShowLinks a:focus *, body.xDontShowLinks a:hover, body.xDontShowLinks a:focus { color: #FFF !important; text-decoration: none !important; }

    	html.xHE, body.xHE, body.xHE td, body.xHE nav, body.xHE header, body.xHE body, body.xHE small, body.xHE big, body.xHE article, body.xHE section, body.xHE aside, body.xHE details, body.xHE div, body.xHE font, body.xHE article, body.xHE form, body.xHE fieldset, body.xHE label, body.xHE span, body.xHE p, body.xHE blockquote, body.xHE dd, body.xHE dt, body.xHE dl, body.xHE div, body.xHE ul, body.xHE ol, body.xHE li, body.xHE a, body.xHE i, body.xHE b, body.xHE strong, body.xHE h1, body.xHE h2, body.xHE h3, body.xHE h4, body.xHE h5, body.xHE pre, body.xHE em, body.xHE cite, body.xHE h6, body.xHE *, body.xHE { color: #333 !important; background: #080808 !important; }
	body.xHE kbd, body.xHE samp { color: #F70 !important; }
	body.xHE input, body.xHE textarea { opacity: 0 !important; }

	html a[href*=".pdf"]:link, html a[href*=".PDF"] { background: #400 !important; color: #F00 !important; padding: 0px 5px !important; border-left: 10px solid #C00 !important; display: inline-block !important; margin: 1px !important; }
	html a[href*=".pdf"]:visited, html a[href*=".PDF"]:visited { background: #200 !important; color: #800 !important; border-color: #F00 !important; }
	html a[href*=".pdf"]:active, html a[href*=".pdf"]:hover, html a[href*=".pdf"]:focus { background: #600 !important; color: #FFF !important; border-color: #F00 !important; }

	a[href*=".zip"]:link, a[href*=".zip"] { background: #000 !important; color: #CCC !important; padding: 0px 5px !important; border-left: 10px solid #CCC !important; display: inline-block !important; margin: 1px !important; }
	a[href*=".zip"]:visited, a[href*=".zip"]:visited { background: #000 !important; color: #999 !important; border-color: #999 !important; }
	a[href*=".zip"]:active, a[href*=".zip"]:hover, a[href*=".zip"]:focus { background: #000 !important; color: #FFF !important; border-color: #FFF !important; }

	a[href*="magnet:"]:link, a[href*="magnet:"] { background: #404 !important; color: #a0a !important; padding: 0px 5px !important; border-left: 10px solid #CCC !important; display: inline-block !important; margin: 1px !important; }
	a[href*="magnet:"]:visited, a[href*="magnet:"]:visited { background: #202 !important; color: #808 !important; border-color: #999 !important; }
	a[href*="magnet:"]:active, a[href*="magnet:"]:hover, a[href*="magnet:"]:focus { background: #202 !important; color: #F0F !important; border-color: #FFF !important; }

	.pagination a { font: bold 24px "Swis721 Cn BT" !important; }
	div[class*="error"] { color: #F00 !important; }
	div[class*="warn"] { color: #F90 !important; }

	/* 											 									*/
	/* 										Analyzer 									*/
	/* 											 									*/
	body.analyzer { padding-bottom: 500px !important; }
	#analyzer { padding: 5px 10px !important; position: fixed !important; left: 0; bottom: 0; width: 50% !important; height: 500px !important; overflow: hidden !important; background: #000 !important; color: #aaa !important; text-align: left !important; z-index: 1000 !important; font: 11px verdana !important; }
	#analyzer b { color: #09f !important; }
	#analyzer div { padding: 0 !important; }
	#analyzer em { font-style: normal; color: #F80 !important; }
	.hovered { background: #000 !important; color: #FFF !important; box-shadow: inset 2px 2px #FFF, inset -2px -2px #FFF !important; }


	/* 										jotti 										*/
	.result-infected { color: #F00 !important; }
	.result-clean { color: #0F0 !important; }


	/*																			*/
	/*							Debug												*/
	/*																			*/
	body.analyzer {padding-bottom: 300px !important; }
	#analyzer { padding: 5px 10px !important; position:fixed!important; left:0; bottom: 0; width: 50% !important; height: 200px!important; overflow: hidden !important; background:#000 !important; color:#aaa !important; text-align:left !important; z-index:1000 !important; font:11px verdana !important; }
	#analyzer b { color:#09f !important; }
	#analyzer div { padding:0;}
	#analyzer em { font-style:normal; color:#F80 !important; }
	.hovered { background: #000 !important; color: #FFF !important; }

	body.showdivs div { border: 2px solid #000 !important; margin: 2px !important; padding: 0 10px 10px 10px !important; }
	body.showdivs > div { border-left: 20px solid #000 !important; margin: 20px 2px !important; }
	x { display: block; font: 12px verdana; background: #000 !important; padding: 0 10px !important; margin: 0 -10px !important; color: #F90 !important; height: 20px !important; line-height: 20px !important; }
	history { display: none; }
	h2.xmessage { background: #090909; color: #888 !important; padding: 10px 20px; z-index: 1000; position: fixed; bottom: 0; left: 0; display: block; width: 100%; font: 12px verdana !important; text-transform: none !important; text-align: left !important; }

	.debug div, body.debug td, body.debug tr, body.debug table, body.debug h1, body.debug h2, body.debug h3, body.debug h4, body.debug h5, body.debug h6, body.debug ul, body.debug ol, body.debug blockquote { box-shadow: inset 2px 2px #333, inset -2px -2px #333 !important; padding: 10px !important; }
	.debug div:hover, body.debug td:hover, body.debug tr:hover, body.debug table:hover, body.debug h1:hover, body.debug h2:hover, body.debug h3:hover, body.debug h4:hover, body.debug h5:hover, body.debug h6:hover, body.debug ul:hover, body.debug ol:hover, body.debug blockquote:hover { box-shadow: inset 2px 2px #F00, inset -2px -2px #F00 !important; }
	.debug p { background: #222 !important; margin: 0 0 1px 0 !important; }

	.debug table { border-collapse: separate !important; border-color: #000 !important; }
	.debug tbody, body.debug tr {border-color: #444 !important; display: block !important; margin: 1px !important; }
	.debug td { border: 2px solid #700 !important; }

	body.debug img[src] {
		min-width: 50px !important;
		min-height: 30px !important;
		margin: 1px !important;
		background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAZklEQVR42uzQAQEAIAzAoGml9+9mDw8RONW02G05AQIECBAgQIAAAQIECBAgQIAAAQIECBAgQIAAAQIECBAgQIAAAQIECBAgQIAAAQIECBAgQIAAAQIECBAgQIAAAQIECBDwgyfAAB3nALPYiUL3AAAAAElFTkSuQmCC) !important;
	}

	body.debug div#analyzer, body.debug div#analyzer div, body.debug div#analyzer b, body.debug div#analyzer em { margin: 0 !important; padding: 0 !important; border: 0 !important; font-size: 11px !important; }

	/* Special divs */
	div[class$="progress"], div[class*="rogress-"] { box-shadow: inset 2000px 2000px rgba(255, 255, 255, 0.4) !important; border-radius: 0 !important; }
	div[class*="modal"] { box-shadow: inset 2000px 2000px rgba(30, 30, 30, 1) !important; border-radius: 0 !important; }

	/* Google images */
	body .rg_ilmbg { box-shadow: inset 40px 40px rgba(0, 0, 0, 0.8) !important; font: 12px verdana !important; }
	body .rg_ilmn { box-shadow: inset 40px 40px rgba(0, 0, 0, 0.8) !important; font: 12px verdana !important; }

	/* highlighted elements */
	.hl { box-shadow: inset 2px 2px #F00, inset -2px -2px #F00 !important; }
	.hl2 { box-shadow: inset 2px 2px #00F, inset -2px -2px #00F !important; }
	.hl::after { content: ""; display: block; clear: both; }
	/*.hl { filter: brightness(1.7) !important; }*/
	/*tr.hl > td { filter: brightness(1.7) !important; }*/

	/* youtube input box fix */
	html body input#search { z-index: 9999999 !important; position: absolute !important; right: 0 !important; }


	/* Github */
	clipboard-copy, summary, button, html input[type="submit"], html input[type="button"] { box-shadow: none !important; background: #111 !important; }
	clipboard-copy:hover, clipboard-copy:focus, summary:hover, summary:focus, button:hover, button:focus, html input[type="submit"]:hover, input[type="submit"]:focus, html input[type="button"]:hover, html input[type="button"]:focus { background: #000 !important; color: #FFF !important; }
	.svg-tip { background: #000 !important; box-shadow: inset 100px 100px #000 !important; }
	.blob-code-deletion { filter: brightness(0.75); }
	.blob-code-addition { filter: brightness(1.5); }
	/*
	.blob-code-deletion { box-shadow: inset 100px 100px 0 #800; }
	.blob-code-addition { box-shadow: inset 100px 100px 0 #060; }
	.file-header { box-shadow: inset 100px 100px 0 #000; }
	.blob-code-addition span.blob-code-inner { color: #DDD !important; }
	.blob-code-deletion span.blob-code-inner { color: #DDD !important; }
	*/
	rect { fill: #222 !important; opacity: 1 !important; }
	rect[data-count='1'] { fill: #404040 !important; }
	rect[data-count='2'] { fill: #505050 !important; }
	rect[data-count='3'] { fill: #606060 !important; }
	rect[data-count='4'] { fill: #808080 !important; }
	rect[data-count='5'] { fill: #AAA !important; }
	rect[data-count='6'] { fill: #CCC !important; }
	rect[data-count='7'] { fill: #DDD !important; }
	rect[data-count='8'] { fill: #FFF !important; }
	rect[data-count='9'] { fill: #FFF !important; }
	rect[data-count='10'] { fill: #FFF !important; }
	rect[data-count='11'] { fill: #FFF !important; }
	rect[data-count='12'] { fill: #FFF !important; }
	rect[data-count='13'] { fill: #FFF !important; }
	rect[data-count='14'] { fill: #FFF !important; }
	rect[data-count='15'] { fill: #FFF !important; }
	rect[data-count='16'] { fill: #FFF !important; }
	rect[data-count='17'] { fill: #FFF !important; }
	rect[data-count='18'] { fill: #FFF !important; }
	rect[data-count='19'] { fill: #FFF !important; }
	rect[data-count='20'] { fill: #FFF !important; }
	html span.pl-c { color: #FFF !important; }
	html span.pl-c1 { color: #F90 !important; }
	html span.pl-e { color: #77F !important; }
	html span.pl-en { color: #FC0 !important; }
	html span.pl-ent { color: #09F !important; }
	html span.pl-k { color: #09F !important; }
	html span.pl-pds { color: #FFF !important; }
	html span.pl-pse { color: #AF0 !important; }
	html span.pl-s { color: #4A4 !important; }
	html span.pl-smi { color: #09F !important; }
	html span.pl-sr { color: #F77 !important; }
	html span.pl-v { color: #77F !important; }
}
