/*

toolbox#navigator-toolbox
	vbox#titlebar
		toolbar#toolbar-menubar
		toolbar#TabsToolbar
			hbox.toolbar-items
				hbox#TabsToolbar-customization-target
					tabs#tabbrowser-tabs
	toolbar#nav-bar
		hbox#nav-bar-customization-target
			toolbarbutton#back-button
			toolbarbutton#forward-button
			toolbarspring#customizableui-special-spring1
			toolbaritem#urlbar-container
				hbox#urlbar
			toolbaritem
				toolbarbutton
			toolbarbutton

*/

:root
{
	background-color: #000 !important;
	--urlbarView-highlight-color: #204;
}

* { border-radius: 0 !important; }

toolbar { background: #000 !important; }
#tabbrowser-tabbox { outline: 0 !important; }
.tabbrowser-tab { padding: 0 !important; }
.tab-background { box-shadow: none !important; border-radius: 0 !important; margin-block: 0 !important; background-color: #000 !important; }
.tab-content .tab-label { color: #666 !important; }
.tab-content[selected] .tab-label { color: #888 !important; }
.tab-icon-image { display: none !important; }
.tab-close-button { display: none !important; }
#urlbar { background: #000 !important; }
.urlbar-input-container { background: #000 !important; }
#urlbar-input { color: #666 !important; }
#identity-icon-box { opacity: 0.5 !important; }

#urlbal, .urlbar-input-container { opacity: 0 !important; }

#TabsToolbar { opacity: 0 !important; }
#navigator-toolbox:hover #urlbar-input-container,
#navigator-toolbox:hover #TabsToolbar,
#navigator-toolbox:hover #titlebar,
#navigator-toolbox:hover #urlbar,
#urlbar[focused] .urlbar-input-container,
#navigator-toolbox:hover .urlbar-input-container,
#urlbar[focused] #urlbar
	{ opacity: 1 !important; }


#urlbar-results { background: #000 !important; }

.urlbarView { margin-inline: 0 !important; width: 100% !important; }
.urlbarView-body-inner { margin-inline: 0 !important; width: 100% !important; }

.urlbarView-type-icon { display: none !important; }
.urlbarView-title { min-width: 300px !important; }
.urlbarView-title-separator { display: none !important; }

.urlbarView-no-wrap img { display: none !important; }
.urlbarView-row-inner { padding-inline: 0 !important; padding-block: 0 !important; }
.urlbarView-row { border: 0 !important; }
.urlbarView-row[selected] { background-color: #101418 !important; }



#navigator-toolbox { background: #000 !important; border-bottom: 1px solid #000 !important; }
#titlebar, #nav-bar toolbarbutton, #page-action-buttons { opacity: 0 !important; }
#navigator-toolbox:hover toolbarbutton, #navigator-toolbox:hover #page-action-buttons { opacity: 0.75 !important; }

#downloads-button > .toolbarbutton-badge-stack > #downloads-indicator-progress-outer { width: 32px !important; align-items: flex-start !important; justify-content: flex-start !important; border: 2px solid #888 !important; background: #000 !important; border-radius: 0 !important; height: 10px !important; top: calc(50% - 5px) !important;}
#downloads-indicator-progress-inner { width: calc(var(--download-progress-pcent)) !important; height: 100% !important; background: #AAA !important; border-radius: 0 !important; }

#downloadsListBox { background-color: #000 !important; border: 1px solid #444 !important; border-radius: 0 !important; }
#downloadsListBox richlistitem { background: #222 !important; color: #888 !important; }
#downloadsListBox richlistitem[selected] { background: #222 !important; color: #AAA !important; }
#downloadsListBox .download.download-state[current="true"] { background: #000 !important; color: #AAA !important; }

.download.download-state { font-size: 20px !important; background-color: #000 !important; color: #888 !important; }
.download.download-state[selected] { background-color: #333 !important; color: #AAA !important; }
.download.download-state[active] { background-color: #333 !important; color: #AAA !important; }

#contentAreaDownloadsView { --download-progress-fill-color: #0C0; }
#contentAreaDownloadsView { background: #000 !important; color: #888 !important; }
#contentAreaDownloadsView #downloadsListBox.allDownloadsListBox { background: #111 !important; border: 0 !important; }
#contentAreaDownloadsView .download.download-state[current="true"] { background: #000 !important; color: #AAA !important; outline: 0 !important; }

html|select[size][multiple], xul|listheader, xul|richlistbox { appearance: none !important; margin-inline: 0 !important; background-color: #000 !important; border: 0 !important; border-radius: 0 !important; color: #888 !important; }
xul|richlistbox > xul|richlistitem[selected], xul|treechildren::-moz-tree-row(selected) { background-color: #000 !important; color: #AAA !important; }

#contentAreaDownloadsView {
--download-progress-fill-color: #DD0;
}

@media (prefers-color-scheme: dark) {
	#contentAreaDownloadsView {
		--download-progress-fill-color: #C0C;
	}
}

#urlbar:is([focused], [open]) > #urlbar-background, #searchbar:focus-within { background: #000 !important; }
#urlbar[focused] > #urlbar-background, #searchbar:focus-within { box-shadow: none !important; }

findbar { background: #000 !important; }

findbar .findbar-textbox					{ border: 0 !important; border-radius: 0 !important; font-size: 20px !important; }
findbar .findbar-textbox[focus]				{ background-color: #000 !important; color: #C33 !important; outline: 0 !important; box-shadow: none !important; }
findbar .findbar-textbox[status="notfound"] {
	background-color: #200 !important; color: #A00 !important;
	&:focus {
		background-color: #400 !important; color: #C33 !important;
	}
}
findbar .findbar-textbox {
  &:focus { background-color: #000 !important; color: #777 !important; border: none !important; outline: none !important; box-shadow: none !important; }
}

.findbar-find-status[status="notfound"] { color: #C33 !important; }

findbar checkbox					{ color: #666 !important; }
findbar checkbox image				{ opacity: 0 !important; }
findbar checkbox[checked] image		{ opacity: 1 !important; }

/* #statuspanel[type="overLink"] { } */
#statuspanel-label { background: #000 !important; color: #666 !important; border-radius: 0 !important; border: 0 !important; font-size: 14px !important; padding: 2px 10px !important; }

/* Show keyword field in 'add bookmark' popup */
#editBMPanel_keywordRow { visibility:visible !important; }
