/*

toolbox#navigator-toolbox
	vbox#titlebar
		toolbar#toolbar-menubar
		toolbar#TabsToolbar
			hbox.toolbar-items
				hbox#TabsToolbar-customization-target
					tabs#tabbrowser-tabs
	toolbar#nav-bar
		hbox#nav-bar-customization-target
			toolbarbutton#back-button
			toolbarbutton#forward-button
			toolbarspring#customizableui-special-spring1
			toolbaritem#urlbar-container
				hbox#urlbar
			toolbaritem
				toolbarbutton
			toolbarbutton

*/

:root { background-color: #000 !important; }

toolbar { background: #000 !important; }
.tabbrowser-tab { padding: 0 !important; }
.tab-background { box-shadow: none !important; border-radius: 0 !important; margin-block: 0 !important; background-color: #000 !important; }
.tab-content .tab-label { color: #666 !important; }
.tab-content[selected] .tab-label { color: #888 !important; }
.tab-icon-image { display: none !important; }
.tab-close-button { display: none !important; }
#urlbar { background: #000 !important; }
#urlbar-input-container { background: #000 !important; }
#urlbar-input { color: #666 !important; }
#identity-icon-box { opacity: 0.5 !important; }

#urlbar-input-container { opacity: 0 !important; }
#navigator-toolbox:hover #urlbar-input-container, #urlbar[focused] #urlbar-input-container { opacity: 1 !important; }

#navigator-toolbox { background: #000 !important; }
#titlebar, #nav-bar toolbarbutton, #page-action-buttons { opacity: 0 !important; }
#navigator-toolbox:hover #titlebar { opacity: 1 !important; }
#navigator-toolbox:hover toolbarbutton, #navigator-toolbox:hover #page-action-buttons { opacity: 0.75 !important; }

#downloads-button > .toolbarbutton-badge-stack > #downloads-indicator-progress-outer { width: 32px !important; align-items: flex-start !important; justify-content: flex-start !important; border: 2px solid #888 !important; background: #000 !important; border-radius: 0 !important; height: 10px !important; top: calc(50% - 5px) !important;}
#downloads-indicator-progress-inner { width: calc(var(--download-progress-pcent)) !important; height: 100% !important; background: #AAA !important; border-radius: 0 !important; }

richlistitem { background: #222 !important; color: #888 !important; }
richlistitem[selected] { background: #222 !important; color: #AAA !important; }
#downloadsListBox { background-color: #000 !important; border: 1px solid #444 !important; border-radius: 0 !important; }
