@namespace xhtml "http://www.w3.org/1999/xhtml";

.addon { background: #242424 !important; color: #777 !important; border: 0 !important; }
.addon[active="false"] { background-color: #222 !important; background-image: none !important; color: #555 !important; }
.addon[selected] { background: #111 !important; color: #999 !important; }
.category-name { font-size: 24px !important; font-family: "swis721 cn bt", arial !important; }
.category { color: #777 !important; border: 0 !important; }
.category[selected] { background: #242424 !important; border: 0 !important; border-radius: 0 !important; color: #AAA !important; }
.list { background: #242424 !important; }

.name-container { font: 24px "swis721 cn bt", arial !important; color: inherit !important; }
.view-header { background: #111 !important; border: 0 !important; }
*|*.main-content {border-radius: 5px !important; border: 0 !important; }
#userstyle-footer { background: #111 !important; color: #999 !important; border-radius: 0 !important; }
.icon-container, .category-icon { display: none; }

*|*:root { background-image: none !important; }

@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

@-moz-document url("about:blank")
{
	* { background: #141414 !important; }
}

@-moz-document url("about:newtab")
{
	* { background: #141414 !important; }
}


tree#configTree { background-color: #141414 !important;  border: 0 !important; }
#configTreeBody::-moz-tree-cell-text { color: #888 !important; }
#configTreeBody::-moz-tree-cell-text(user) { font-weight: normal !important; color: #F90 !important; }
#configTreeBody::-moz-tree-cell-text(locked) { font-style: normal !important; color: #666 !important; }

/*#configTreeBody::-moz-tree-cell-text(selected) { background: #F00 !important; }
#configTreeBody::-moz-tree-cell-text(active) { background: #F00 !important; }
#configTreeBody::-moz-tree-cell-text(focus) { background: #F00 !important; }*/

#configTreeBody::-moz-tree-row(current, focus) { background: #000 !important; color: #CCC !important; border: 0 !important; }
#configTreeBody::-moz-tree-row(hover) { background: #333 !important; color: #CCC !important; border: 0 !important; }

*|textbox { color: #888 !important; background: transparent !important; }
#configTree treecol { background: #111 !important; color: #999 !important; }

