[core]
	editor = C:/Programs/Development/SublimeText/sublime_text.exe -w -n
[user]
	email = nimish.jha@gmail.com
	name = Nimish Jha
[color]
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow bold
	remote = white bold
[color "diff"]
	meta = white bold blue bold
	frag = yellow bold
	old = red bold
	new = green bold
[color "status"]
	added = green bold
	changed = red bold
	untracked = magenta bold
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
