html { background: #000; }
body { background: #181818; color: #777; font-family: "swis721 cn bt"; }
* { box-shadow: none; background-image: none; font-family: inherit; border-radius: 0; }
*::before, *::after { opacity: 0.25; }
table { border-collapse: collapse; }
nav, header, footer { background: #111; }
div { background: #181818; }
td { background: #1C1C1C; }
ol, ul, li { background: transparent; }
div, tr, td { border: 0; }
a:link { color: #05C; background: #111; }
a:visited { color: #C55; background: #111; }
a:hover, a:focus { color: #0CC; background: #222; }
span, input, button { border-radius: 0; }
span { border: 0; color: inherit; }
input { background: #111; border: 1px solid #333; }
button { background: #111; border: 1px solid #555; }
img, svg { opacity: 0.5; }
