/* Hide one-off search buttons and colorise popup headers */
.search-panel-one-offs { display: none !important; }
.search-panel-header { background: #141414 !important; }
.searchbar-search-button { display: none !important; }

#reader-mode-button { display: none !important; }

/* Extensions etc */
.addon { background: #111 !important; color: #888 !important; border: 0 !important; }
.addon[active="false"] { background-color: #222 !important; background-image: none !important; color: #555 !important; }
.category-name { font-size: 16px !important; font-family: "swis721 cn bt", arial !important; }
.category { color: #777 !important; border: 0 !important; }
.category[selected] { background: #181818 !important; border: 0 !important; border-radius: 0 !important; color: #AAA !important; }
.list { background: #181818 !important; }
.name-container { font: 12px verdana !important; }

.content-inner-container, .content-container { display: table !important; width: 100% !important; }
.basicinfo-container { display: table-cell !important; width: 500px !important; }
.advancedinfo-container { display: table-cell !important; width: auto !important; }
.addon { background: #111 !important; color: #888 !important; border: 0 !important; }
description, label.name, .name-container label { font: 12px verdana !important; }
.status-control-wrapper { float: right !important; }



menulist { min-width: 200px !important; }

.devtools-monospace { font-family: Verdcode !important; }
div.cm-s-mozilla span.CodeMirror-matchingbracket { outline: 0 !important; color: white; }
.CodeMirror pre { padding: 4px !important; }
.theme-body { background: #181818 !important; color: #888 !important; }
.splitview-nav-container { background-color: #181818 !important; color: #888 !important; }
.cm-s-mozilla .CodeMirror-activeline-background { background: #000 !important; }

#output-wrapper { background: #181818 !important; color: #888 !important; direction: ltr !important; border-bottom: 0 !important; }
.jsterm-input-container { background: #181818 !important; }

.devtools-autocomplete-popup {
  -moz-appearance: none !important;
  border: 1px solid #181818 !important;
  box-shadow: none !important;
  background-image: none !important;
  background-color: #181818 !important;
  border-radius: 0 !important;;
  max-height: 40rem;
}

.devtools-autocomplete-popup.light-theme {
  border: 10px solid #181818 !important;
  box-shadow: none !important;
  background-image: none !important;
  background-color: #181818 !important;
}

.devtools-autocomplete-listbox.light-theme > richlistitem[selected],
.devtools-autocomplete-listbox.light-theme > richlistitem:hover {
    background-color: #000 !important;
    color: #CCC !important;
}

/* Addons view */
#detail-view.view-pane { background: #242424 !important; color: #808080 !important; }
.detail-view-container { background: #242424 !important; color: #808080 !important; }


/* Australis theme fixes */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


#navigator-toolbox { -moz-appearance: none !important; background-color: #141414 !important; border: 0 !important; }
/*#navigator-toolbox::after { content: ""; display: -moz-box; -moz-box-ordinal-group: 101; height: 1px; background-color: #141414 !important; }*/
#navigator-toolbox > toolbar:not(:-moz-lwtheme) { -moz-appearance: none; border-style: none; background-color: #141414 !important; background-image: none !important; }
#navigator-toolbox * { border: 0 !important; font: 12px verdana !important; outline: 0 !important; }
/*#navigator-toolbox .autocomplete-textbox { font: 24px "swis721 cn bt" !important; }*/
#navigator-toolbox .autocomplete-textbox { font: 12px Verdana !important; }
#navigator-toolbox::after { background-color: transparent !important; }

#nav-bar-customization-target { background: #141414 !important; }
#TabsToolbar { margin: 0 !important; }

#urlbar-container{ padding: 10px 10px 10px 10px !important; }
textbox#urlbar { padding: 0 !important; margin: 0 !important; color: #888 !important; background: transparent !important; padding: 0px 20px !important; box-shadow: none !important; }
/*textbox#urlbar .autocomplete-textbox { font: 24px "swis721 cn bt" !important; }*/
#back-button, #forward-button { display: none !important; }
#page-proxy-favicon { display: none !important; }

#identity-box { background: transparent !important; }

#main-window:not([customizing]) #TabsToolbar:not(:-moz-lwtheme) { background-image: none!important; }
#main-window[tabsintitlebar] #TabsToolbar { background-color: transparent!important; }
#tabbrowser-tabs::before { -moz-box-ordinal-group: 0!important; content: ''!important; display: block!important; background-image: none!important; }
#tabbrowser-tabs { min-height: 31px!important; background: #282828!important; border-bottom: 10px solid #141414 !important; }
.tabbrowser-tab[remote] { text-decoration: none !important; }
#navigator-toolbox .tabbrowser-tab { border-bottom: 5px solid #282828 !important; }
.tabs-newtab-button { display: none !important; }
.tabbrowser-tab { -moz-box-align: stretch!important; color: #444 !important; padding: 0 10px !important; }
.tabbrowser-tab[remote] { text-decoration: underline!important; }
.tabbrowser-tab[selected=true] { position: relative!important; z-index: 2!important; background: #141414!important; }
.tab-background-middle { border: 0 !important; margin: 0 !important; }
.tab-content { -moz-padding-end: 0px!important; -moz-padding-start: 0px!important; }
.tab-throbber, .tab-icon-image, .tab-close-button { margin: 0!important; }
.tab-throbber, .tab-icon-image { height: 16px!important; width: 16px!important; }
.tab-icon-image { display: none !important; }
.tab-throbber { list-style-image: url("chrome://browser/skin/tabbrowser/connecting.png")!important; }
.tab-throbber[progress] { list-style-image: url("chrome://browser/skin/tabbrowser/loading.png")!important; }
.tab-throbber:not([pinned]), .tab-icon-image:not([pinned]) { -moz-margin-end: 6px!important; }
.tab-label { -moz-margin-end: 0!important; -moz-margin-start: 0!important; padding: 0 10px !important; color: #707070 !important; }
.tabbrowser-tab[selected=true] .tab-label { color: #777 !important; }
.tab-close-button { display: none!important; }
.tab-background, .tabs-newtab-button { -moz-margin-end: 0!important; -moz-margin-start: 0!important; }
.tabbrowser-arrowscrollbox > .arrowscrollbox-scrollbox { -moz-padding-end: 0!important; -moz-padding-start: 0!important; }
.tab-background-start[selected=true]::after, .tab-background-start[selected=true]::before, .tab-background-start, .tab-background-end, .tab-background-end[selected=true]::after, .tab-background-end[selected=true]::before { min-height: 31px!important; width: 0px !important; }
.tabbrowser-tab:not([selected=true]), .tabbrowser-tab:-moz-lwtheme { color: inherit!important; }
.tab-background-start[selected=true]::after, .tab-background-end[selected=true]::after { -moz-margin-start: -30px!important; background-size: 100% 100%!important; content: ""!important; display: -moz-box!important; position: relative!important; }
.tab-background-start[selected=true]::before, .tab-background-end[selected=true]::before { content: ""!important; display: -moz-box!important; }
.tab-background-start[selected=true]:-moz-locale-dir(ltr):not(:-moz-lwtheme)::before, .tab-background-end[selected=true]:-moz-locale-dir(rtl):not(:-moz-lwtheme)::before { background-image: none!important; }
.tab-background-end[selected=true]:-moz-locale-dir(ltr):not(:-moz-lwtheme)::before, .tab-background-start[selected=true]:-moz-locale-dir(rtl):not(:-moz-lwtheme)::before { background-image: none!important; }
.tab-background-start[selected=true]:-moz-locale-dir(ltr):-moz-lwtheme::before, .tab-background-end[selected=true]:-moz-locale-dir(rtl):-moz-lwtheme::before { clip-path: none!important; }
.tab-background-end[selected=true]:-moz-locale-dir(ltr):-moz-lwtheme::before, .tab-background-start[selected=true]:-moz-locale-dir(rtl):-moz-lwtheme::before { clip-path: none!important; }
.tab-background-start[selected=true]:-moz-locale-dir(ltr)::after, .tab-background-end[selected=true]:-moz-locale-dir(rtl)::after { background-image: none!important; }
.tab-background-end[selected=true]:-moz-locale-dir(ltr)::after, .tab-background-start[selected=true]:-moz-locale-dir(rtl)::after { background-image: none!important; }
.tab-background-middle[selected=true] { background-clip: padding-box, padding-box, content-box!important; background-image: none!important; background-color: transparent !important;}
.tab-background-middle[selected=true]:-moz-lwtheme { background-image: none!important; background-color: transparent !important;}
.tab-background-start[selected=true]:-moz-lwtheme::before, .tab-background-end[selected=true]:-moz-lwtheme::before { background-image: none!important; }
.tab-background-start[selected=true]:-moz-lwtheme::before, .tab-background-end[selected=true]:-moz-lwtheme::before, .tab-background-middle[selected=true]:-moz-lwtheme { background-color: transparent!important; }
.tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected=true]), .tabs-newtab-button:hover { background-image: none!important; }
.tabbrowser-tab { pointer-events: none!important; }
.tab-background-middle, .tabs-newtab-button, .tab-close-button { pointer-events: auto!important; }
#tabbrowser-tabs[positionpinnedtabs] > .tabbrowser-tab[pinned]::before { height: 100%!important; position: absolute!important; }
.tabbrowser-tab[pinned][titlechanged]:not([selected="true"]) > .tab-stack > .tab-content { background-image: none!important; }
#tabbrowser-tabs[movingtab] > .tabbrowser-tab[beforeselected]:not([last-visible-tab])::after, .tabbrowser-tab:not([selected]):not([afterselected-visible]):not([afterhovered]):not([first-visible-tab]):not(:hover)::before, #tabbrowser-tabs:not([overflow]) > .tabbrowser-tab[last-visible-tab]:not([selected]):not([beforehovered]):not(:hover)::after { -moz-margin-start: -1.5px!important; -moz-margin-end: -1.5px!important; background-image: none)!important; background-position: left bottom 1px!important; background-repeat: no-repeat!important; background-size: 3px 100%!important; content: ""!important; display: -moz-box!important; width: 3px!important; }
.tabs-newtab-button { width: 66px!important; }

/* Separators */
.tabbrowser-tab:after, .tabbrowser-tab:before { visibility: hidden !important; }

/* Status 4 Evar */
#status4evar-status-bar { background-image: none !important;     background-color: #141414 !important; padding: 10px !important; }

.searchbar-textbox { color: #111 !important; background: #141414 !important; padding: 0 !important; font: 24px "swis721 cn bt" !important; }
.searchbar-textbox[focused="true"] { color: #999 !important; }

/* Hide shitty toolbar buttons */
#back-button, #forward-button { display: none !important; }
#urlbar-stop-button { display: none !important; }
.autocomplete-history-dropmarker.urlbar-history-dropmarker { display: none !important; }
#urlbar-reload-button { display: none !important; }
.searchbar-engine-button { opacity: 0 !important; }
#PanelUI-menu-button { display: none !important; }
.search-go-button { display: none !important; }
#urlbar-go-button { display: none !important; }

#titlebar-placeholder-on-TabsToolbar-for-captions-buttons { display: none !important; }

#tabbrowser-tabs .scrollbutton-up, #tabbrowser-tabs .scrollbutton-down, #new-tab-button, #alltabs-button { display: none !important; }



/* URLbar autocomplete */
#PopupAutoComplete { background: #111; padding: 20px; }
panel[type="autocomplete"], panel[type="autocomplete-richlistbox"], .autocomplete-history-popup { -moz-appearance: none; padding: 20px; background-color: #111; }
.autocomplete-history-popup { max-height: 500px; }
.autocomplete-treebody::-moz-tree-cell-text { font: 12px Verdana; color: #606366 !important; }
treechildren.autocomplete-treebody::-moz-tree-row { height: 2em; }
treechildren.autocomplete-treebody::-moz-tree-row(selected) { background-color: #111; }
.autocomplete-richlistitem { background-color: #111; color: #606366; border: 0; }
.autocomplete-richlistitem a { color: #888; }
.autocomplete-richlistitem[selected="true"] { background-color: #111; color: #fff; }
treechildren.autocomplete-treebody::-moz-tree-cell-text(selected) { color: #fff !important; }
.ac-site-icon, .ac-type-icon { display: none !important; width: 0 !important; height: 0 !important;  }
span.ac-emphasize-text { box-shadow: none !important; background-color: transparent !important; text-shadow: none !important; }

#TabsToolbar { -moz-box-ordinal-group: 2 !important; }
#addon-bar { -moz-box-ordinal-group: 3 !important; }

/* Menus */
menu, menupopup, menuitem { background: inherit !important; color: #777 !important; }
menu { }
menupopup { min-width: 400px !important; }
.menu-text { padding: 0 0 0 20px !important; }
.menu-description { font-style: normal !important; font-size: 11px !important; -moz-margin-start: 20px !important !important; }
.menu-iconic-left { width: 16px !important; }
.menu-iconic-icon { width: 16px !important; height: 16px !important; display: none !important; }
menuitem[type="checkbox"], menuitem[checked="true"] { -moz-appearance: checkmenuitem !important; }
menuitem[type="checkbox"] > .menu-iconic-left, menuitem[checked="true"] > .menu-iconic-left { -moz-appearance: menucheckbox !important; padding-top: 0px !important; }
menuitem[type="radio"] { -moz-appearance: radiomenuitem !important; }
menuitem[type="radio"] > .menu-iconic-left { -moz-appearance: menuradio !important; padding-top: 0px !important; }
menuitem[type="checkbox"] > .menu-iconic-left > .menu-iconic-icon, menuitem[checked="true"] > .menu-iconic-left > .menu-iconic-icon, menuitem[type="radio"] > .menu-iconic-left > .menu-iconic-icon { display: none !important; }
menu[_moz-menuactive="true"], menuitem[_moz-menuactive="true"] { background: #242424 !important; color: #CCC !important; }
.menu-right { -moz-appearance: menuarrow !important; -moz-margin-end: -2px !important; list-style-image: none !important; min-width: 1.28em !important; padding-top: 1px !important; }

menuitem#context-openlinkintab { font: 32px "swis721 cn bt", arial !important; padding: 20px !important; line-height: 200% !important; }
#context_closeTab_2 { font: 32px "swis721 cn bt" !important; padding: 20px !important; }

menupopup, panel { -moz-appearance: none !important; border: none !important; padding: 10px 0 !important; background: #111 !important; }
menupopup > menu > menupopup { -moz-margin-start: -3px !important; margin-top: -3px !important; }
panel[type="arrow"] { -moz-appearance: none !important; background: transparent !important; border: none !important; -moz-transition: opacity 300ms !important; }

menuseparator { display: none !important; }

menu, menuitem, .splitmenu-menuitem { font-family: Verdana !important; }
.menubar-text { text-shadow: none !important; }

#context-sharelink,
#context-searchselect,
#context-viewbgimage,
#context-savepage,
#context-shareimage,
#context-sendimage,
#context-setDesktopBackground,
#context-sharepage,
#context-pocket,
#context-cut,
#context-copy,
#context-paste,
#context-delete,
#context-forward,
#context-back,
#context-reload,
#context-stop,
#context-bookmarkpage
    { display: none !important; -moz-appearance: none !important; }


/* Findbar */
findbar { background: #141414 !important; }
.findbar-textbox { background: #111 !important; }
.findbar-textbox[status="notfound"] { background: #600 !important; color: #F00 !important; }
.findbar-textbox[flash="true"] { box-shadow: none !important; color: black !important; }


/* tabprompts */
tabmodalprompt { width: 100% !important; height: 100% !important; -moz-box-pack: center !important; -moz-box-orient: vertical !important; background: rgba(0,0,0,0.8) !important; font-family: Verdana !important; }
.mainContainer { min-width: 1000px !important; min-height: 12em !important; color: #777 !important; background-color: #111 !important; background-clip: padding-box !important; border-radius: 2px !important; box-shadow: 0 0 10px #000 !important; }
.info\.title { margin-bottom: 1em !important !important; font-weight: bold !important; }
.info\.body { margin: 0 !important !important; -moz-user-focus: normal !important; -moz-user-select: text !important; cursor: text !important !important; white-space: pre-wrap !important; }
label[value=""] { visibility: collapse !important; }
.topContainer { padding: 20px !important; }
.buttonContainer { padding: 12px 20px 15px !important; }

/* button */
button { margin: 1px 5px !important; border: 1px solid #080808 !important; background-color: #111 !important; color: #777 !important; text-shadow: none !important; font: inherit !important; -moz-appearance: none !important; }
.button-box { border: 1px solid transparent !important; padding: 5px 10px !important; }
.button-text { margin: 0 !important !important; }
button:hover, button:focus { background: #080808 !important; color: #CCC !important;}
button[default="true"] { border: 1px solid #080808 !important; background: #080808 !important; }
button:hover:active, button[open="true"], button[checked="true"] { border: 1px solid #FFF !important; }
button:hover:active > .button-box:-moz-system-metric(windows-classic), button[open="true"] > .button-box:-moz-system-metric(windows-classic), button[checked="true"] > .button-box:-moz-system-metric(windows-classic) { }
button[disabled="true"] { border: 1px solid #111 !important; color: #555 !important; }
button[disabled="true"] > .button-box { }
button[type="menu-button"] { margin: 0 !important; border: none !important; }
.button-menu-dropmarker, .button-menubutton-dropmarker { -moz-appearance: none !important !important; margin: 1px !important; background-color: transparent !important; border: none !important; width: 11px !important; height: 11px !important; }
.button-menubutton-dropmarker[open="true"] { margin-top: 2px !important; margin-bottom: 0px !important; -moz-margin-start: 2px !important; -moz-margin-end: 0px !important; }
button.plain { border: 0px !important !important; margin: 0px !important !important; padding: 0px !important !important; }
button[type="disclosure"] { border: 0px !important !important; margin: 0px !important !important; padding: 0px !important !important; -moz-appearance: none !important; list-style-image: url("chrome://global/skin/tree/twisty-clsd.png") !important; min-width: 0px !important !important; background-color: transparent !important; }
button[type="disclosure"][open="true"] { list-style-image: url("chrome://global/skin/tree/twisty-open.png") !important; }

/* textbox */
textbox { -moz-appearance: none !important; cursor: text !important; margin: 2px 4px !important; border: 0 !important; padding: 5px 10px !important; -moz-padding-start: 4px !important; background-color: #181818 !important; color: #777 !important; }
textbox.searchbar-textbox { padding: 0 !important; }
html|*.textbox-input, html|*.textbox-textarea { margin: 0px !important !important; border: none !important !important; padding: 0px !important !important; background-color: inherit !important; color: inherit !important; font: inherit !important; }
html|*.textbox-input:-moz-placeholder, html|*.textbox-textarea:-moz-placeholder { color: #555 !important; }
.textbox-contextmenu { cursor: default !important; }
textbox[readonly="true"] { background-color: #333 !important; color: #999 !important; }
textbox[disabled="true"] { cursor: default !important; background-color: #181818 !important; color: #555 !important; }
textbox.plain { -moz-appearance: none !important !important; background: transparent !important !important; padding: 0px !important !important; margin: 0px !important !important; border: none !important !important; box-shadow: none !important; }
toolbarpaletteitem > toolbaritem > textbox > .textbox-input-box > html|*.textbox-input { visibility: hidden !important; }

/* Titlebar and buttons */
#titlebar, #titlebar-content { background: #141414 !important; }
#titlebar-buttonbox { padding: 0px !important; }
#titlebar-buttonbox toolbarbutton { -moz-appearance: none !important; margin: 0 2px 0 0 !important; width: 30px !important; height: 20px !important; border-color: #282828 !important; }
#titlebar-buttonbox toolbarbutton:hover { border-color: #FFF !important; }
#titlebar-min { border-width: 0 0 2px !important; }
#titlebar-max { border-width: 2px !important; }
#main-window[sizemode="maximized"] #titlebar-max { border-width: 2px !important; }
#titlebar-buttonbox toolbarbutton#titlebar-close { display: none !important; }

/* About dialog */
#clientBox { background: #121212 none !important; color: #777 !important; }
#rightBox { margin: 20px 40px !important; padding: 20px 40px !important; background: transparent none !important; }
#updateDeck > hbox > label:not([class="text-link"]) { color: #909090 !important; }
#trademark { font-size: xx-small !important; text-align: center !important; color: #999999 !important; margin-top: 10px !important; margin-bottom: 10px !important; }
.text-link { text-decoration: none !important; }
#clientBox #version { font: 48px "swis721 cn bt" !important; color: #AAA !important; }
#leftBox, #communityDesc, #contributeDesc, #bottomBox { display: none !important; }


/* Progress bar */
progressmeter { -moz-appearance: none !important; margin: 2px 10px !important; border: 0 !important; background-color: #333 !important; min-width: 200px !important; min-height: 10px !important; height: 10px !important; }
.progress-bar { -moz-appearance: none !important; min-width: 0px !important; background-color: #FFF !important; }
.progressmeter-statusbar { margin: 0 10px !important; border: 0 !important; min-width: 200px !important; }




/* s3 downbar */
.db_progressStack { max-height:40px !important; min-height:40px !important; }


/* Customization window */
#customization-container { background-color: #181818 !important; color: #888 !important; text-shadow: none !important; }
#customization-palette > toolbarpaletteitem > label { color: #888 !important; }
#main-window[customize-entered] #customization-panel-container { background-image: none !important; }
#customization-panel-container { padding: 0 !important; background-image: none !important; background-color: #181818 !important; }
#main-window:-moz-any([customize-entering],[customize-entered]) #browser-bottombox { margin: 0 !important ; }
#main-window:-moz-any([customize-entering],[customize-entered]) #content-deck, #main-window:-moz-any([customize-entering],[customize-entered]) #browser-bottombox, #main-window:-moz-any([customize-entering],[customize-entered]) #navigator-toolbox { margin: 0 !important; }

#customization-panel-container { padding: 10px; background-image: none !important; }
#main-window:-moz-any([customize-entering],[customize-entered]) #browser-bottombox, #customization-footer { background: #111 !important;  }
#customization-footer { border: 0 !important;  }









@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

#nav-header {
	background-color: #222 !important;
}

#historyTree { background-color: #202020 !important; }



tree { background-color: #141414 !important;  border: 0 !important; }
::-moz-tree-cell-text { color: #888 !important; }
::-moz-tree-cell-text(selected) { color: #FFF !important; }
::-moz-tree-row(selected) { background: #000 !important; border: 0 !important; }


#downloadsRichListBox { background: #282828 !important; color: #aaa !important; border: none !important; }
